form {
  width: 50%;
  text-align: center;
  margin-bottom: 5%;
}
fieldset {
  border: none;
}
fieldset div {
  margin-bottom: 5%;
}
#inputText {
  width: 45%;
  padding: 2%;
}
#Btn {
  padding: 2%;
  width: 50%;
  background-color: skyblue;
}
h3 {
  color: rgb(99, 236, 191);
}
article #horoscope {
  width: 40%;
  text-align: center;
  border: 1px solid grey;
  padding: 15px;
  margin-left: 5%;
  display: none;
}
#horo_title {
  color: red;
}
#horo_img {
  width: 40%;
}
#someTxt {
  padding-top: 10%;
  color: red;
  font-size: 1.5em;
}
